.fab {
    font-size: 24px;
}

.fa-github {
    color: #6e5494;
}

.fa-itch-io {
    color: #222222;
}

.fa-linkedin {
    color: #2867b2;
}

.fa-playstation {
    color: #000000;
}

.fa-steam {
    color: #000000;
}

.fa-twitter {
    color: #00acee;
}

.fa-xbox {
    color: #107c10;
}

.fa-youtube {
    color: #bb0000;
}

.fa-linkedin:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-github:hover,
.fa-itch-io:hover,
.fa-steam:hover,
.fa-playstation:hover {
    color: #d5d5d5;
}
